#educational-experience {
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5%;
  gap: 0.75em;
  width: 50vw;
  height: 75vh;
  margin: auto;
  background-color: pink;
}

#education-header {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  margin: 0;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 75vw;
  height: 10vh;
}

#cv-education {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 40vw;
  height: 65vh;
}

.education-school, .education-degree, .education-start-studies, .education-end-studies {
  font-size: 1.5em;
  font-style: italic;
  opacity: .7;
}

#degree-input, #school-input {
  width: 40vw;
  height: 2.5vh;
  margin-bottom: 5%;
  margin-top: 0.5%;
  font-size: 1.25em;
}

#start-studies-input, #end-studies-input {
  width: 15vw;
  height: 3vh;
  margin-bottom: 4%;
  margin-top: 0.5%;
  font-size: 1.25em;
  opacity: .8;
}

#previous-button {
  width: 25vw;
  height: 4vh;
  font-size: 1.25em;
}

#next-button {
  width: 25vw;
  height: 4vh;
  font-size: 1.25em;
}