#general-information {
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5%;
  gap: 0.75em;
  width: 75vw;
  height: 60vh;
  margin: auto;
  background-color: cyan;
}

#general-header {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  margin: 0;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 75vw;
  height: 10vh;
}

#cv-general {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 75vw;
  height: 40vh;
}

#name-input, #email-input, #phone-input {
  width: 50vw;
  height: 2.5vh;
  margin-bottom: 5%;
  margin-top: 2%;
}

.general-info-name, .general-info-email, .general-info-phone {
  font-size: 1.5em;
  font-style: italic;
}

.next-button {
  width: 30vw;
  height: 3.5vh;
  font-size: 1.25em;
}