#resume {
  display: flex;
  flex-flow: column nowrap;
  margin: auto;
  justify-content: flex-start;
  align-items: center;
  background-color: brown;
  color: white;
  width: 60vw;
  height: 100vh;
}

#general-resume-header, #education-resume-header, #experience-resume-header {
  width: 60vw;
  height: 10vh;
  font-size: 3em;
}

.resume-item {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  font-weight: bold;
  color: yellow;
}

#previous-button {
  width: 25vw;
  height: 4vh;
}