#progress-bar {
  display: flex;
  flex-flow: row-nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #B5C9C3;
  color: black;
  font-weight: bolder;
  height: 2.5vh;
  margin: 0.25%;
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 2%;
}

.show-one-third {
  width: 33vw;
}

.show-two-thirds {
  width: 64vw;
}

.show-three-thirds {
  width: 98vw;
}