#resume {
  display: flex;
  flex-flow: column nowrap;
  margin: auto;
  justify-content: flex-start;
  align-items: center;
  background-color: #E7CFCD;
  color: #9F9AA4;
  width: 100vw;
  height: 100vh;
}

#general-resume-container, #education-resume-container, #experience-resume-container {
  display: flex;
  flex-flow: column nowrap;
  width: 60vw;
}

#general-resume-container {
  margin-top: 2%;
  height: 20vh;
}

#education-resume-container, #experience-resume-container {
  height: 25vh;
}

#general-resume-header, #education-resume-header, #experience-resume-header {
  width: 60vw;
  height: 5vh;
  margin: 0;
  font-size: 2em;
}

.resume-item {
  width: 60vw;
  height: auto;
  font-size: 1em;
  font-weight: bold;
  margin: 0;
  padding: 1.5%;
  color: black;
  font-weight: bolder;
}

#button-resume-container {
  display: flex;
  flex-flow: row nowrap;
  margin-top: auto;
  margin-bottom: 4%;
  gap: 1%;
}

#previous-button, #final-submit-button {
  width: 25vw;
  height: 4vh;
  font-size: 1.25em;
  font-weight: bolder;
  background-color: #CAB1BD;
  color: #9F9AA4;
}

#final-submit-button {
  font-size: 1.25em;
}